@charset "utf-8";

/* products snb */
.products_sub_menu{
    position: relative;
    z-index: 10;
    padding-top: var(--small-bottom);
    box-sizing: border-box;
}
.products_sub_menu h2{
    padding-bottom: var(--s-bottom);
}
.products_sub_menu h2 a{
    display: block;
    width: 268px;
    height: 46px;
}
.products_snb li{
    display: inline-block;
    padding-bottom: 12px;
}
.products_snb li a{
    padding: 8px;
    margin-right: 12px;
    display: block;
    font-size: var(--h5-font-size);
    font-weight: 700;
    color: var(--k500-color);
    border: 2px solid var(--k400-color);
    box-sizing: border-box;
    white-space: nowrap;
    transition: 0.3s;
    background-color: #fff;
}
.products_snb li a:hover{
    color: var(--white-color);
    border: 2px solid var(--b900-color);
    background: var(--b900-color);
    box-sizing: border-box;
}
.tooth_img{
    width: 720px;
    height: 160px;
    background: url('@/assets/products_img/tooth_deco.png') no-repeat;
    position: absolute;
    top: 64px;
    right: 6%;
}

/* products list */
.list_order{
    padding: 0 12px;
    margin-bottom: var(--xs-bottom);
}
.list_sort li a{
display: block;
color: var(--k500-color);
margin-left: 14px;
}

.list_sort li a:hover{
    color: var(--b900-color);
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset :6px;
}
/* products card */
.product_item{
    width: 400px;
    display: block;
    border: 2px solid var(--k500-color);
    box-sizing: border-box;
}
.product_item img{
    width: 100%;
    object-fit: cover;
}

.products_text{
    border-top: 2px solid var(--k500-color);
    padding:20px;
    box-sizing: border-box;
    color: var(--k800-color);
    font-size: var(--h4-font-size);
    font-weight: 700;
}
.item_title{
    font-size:var(--large-font-size);
    height: var(--h2-font-size);
    margin-bottom: var(--h2-font-size);
}

.price{
    display: flex;
    justify-content: space-between;
}

.r_price{
    font-size: var(--medium-font-size);
    color:var(--k300-color);
    text-decoration: line-through;
}
.discount{
    font-size: var(--medium-font-size);
    color:var(--k500-color);
    margin-right: 14px;
}
.product_item .c_price{
    font-size: var(--h3-font-size);
    color:var(--b900-color);
}

@media screen and (max-width:768px){
    .tooth_img {
        display: none;
    }
    
    .products_text{
        padding:12px;
        font-size: var(--small-font-size);
    }
    .item_title{
        font-size:var(--medium-font-size);
    }
    
    .price{
        display: block;
    }

    .product_item .c_price{
        font-size: var(--h4-font-size);
    }
}